<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/templates/css/404.css">
</head>
<body>
<div class="error-container">
    <h1>Page Not Found</h1>
    <p>Oops! The page you're looking for doesn't exist. Maybe it's lost in the music.</p>
</div>
<div class="home-link-container">
    <a href="/home"><button class="home-link">Home</button></a>
</div>
</body>
</html>