<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/templates/css/login.css">
</head>
<body>
<div class="login-container">
    <form class="login-form" action="/login" method="post"> <!-- Add this line -->
        <h1>Login</h1>
        <hr> <!-- Line under the title -->
        <!-- Error message container -->
        <div id="error-message" class="error-message" style="{{ 'display: none;' if not error else '' }}">
            {{ error }}
        </div>
        <label for="username"><b>Email or username</b></label>
        <input type="text" id="username" name="username" placeholder="Enter your email or username" required>
        <label for="password"><b>Password</b></label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        <button type="submit">Log In</button>
        <hr> <!-- Line under the login button -->
        <p class="signup-prompt">Don't have an account? <a href="/register">Sign up</a></p>
    </form> <!-- Add this line -->
</div>
</body>
</html>
