<link rel="stylesheet" href="/templates/css/navbar.css">
<div class="navbar">
    <div class="nav-links">
        <a href="/home">Home</a>
        <a href="/songs">Songs</a>
        <a href="/services">Services</a>
    </div>
    <div class="plus-menu">
        <button id="plus-btn">+</button>
        <div class="menu-content" id="menu-content">
            <a href="/upload/song">Upload Song</a>
        </div>
    </div>
    <div class="nav-auth">
        <a class = "auth-button logout" href="/logout">Sign Out</a>
    </div>
</div>

<script src="/templates/script/navbar.js"></script>