<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/templates/css/login.css">
</head>
<body>
<div class="login-container">
    <form class="login-form" action="/register" method="post"> <!-- Add this line -->
        <h1>Register</h1>
        <hr> <!-- Line under the title -->
        <!-- Error message container -->
        <div id="error-message" class="error-message" style="{{ 'display: none;' if not error else '' }}">
            {{ error }}
        </div>
        <label for="username"><b>Username</b></label>
        <input type="text" id="username" name="username" placeholder="username" required>
        <label for="email"><b>Email</b></label>
        <input type="text" id="email" name="email" placeholder="email" required>
        <label for="password"><b>Password</b></label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>
